{% extends 'base.html' %}
{% block title %}Activity Report: {{ challenge.name }}{% endblock %}
{% block content %}

<div class="span-10">
<h1>New Activity</h1>
  <form action="{% url challenge.views.show_challenge id=challenge.key.id %}" method="POST">
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit"/>
  </form>
  <img src="{{ MEDIA_URL }}challenge/158-The-Conquest-2-q75-382x500.jpg" }}"/>
</div>
<div class="span-2">
</div>
<div class="span-12 last">
<h1>{{ challenge.name }}</h1>
<table>
  <tr><th colspan="3">Top Scorers</th></tr>
  <tr><th class="span-3" id="reporter">Name</th>
  <th class="span-3" id="score">Score</th>
  <th class="span-6 last">Trend</th></tr>
{% for reporter, score in top_reporters %}
<tr><td id="reporter">{{ reporter.name }}</td><td id="score">{{ score }}</td>
    <td><img src="{% url challenge.views.spark_line challenge_id=challenge.key.id reporter_id=reporter.key.id %}"></img></td></tr>
{% endfor %}
</table>
<table>
  <tr>
    <th id="reported_date">Reported Date</th>
    <th id="reporter">Reporter</th>
    <th id="up">Flights Up</th>
    <th id="down">Flights Down</th>
  </tr>
  {% for report in object_list %}
  <tr>
    <td id="reported_date">{{report.reported_date}}</td>
    <td id="reporter">{{report.reporter.name}}</td>
    <td id="up">{{report.flights_up}}</td>
    <td id="down">{{report.flights_down}}</td>
  </tr>
  {% endfor %}
</table> 
<div align="center">
  {% if has_previous %}
    <a href="{% url challenge.views.show_challenge id=challenge.key.id %}?page={{ previous }}">&lt;-previous</a>
  {% endif %}
  {% if has_next %}
    <a href="{% url challenge.views.show_challenge id=challenge.key.id %}?page={{ next }}">next-&gt;</a>
  {% endif %}
</div>
</div>
<script>
  var $jq = jQuery.noConflict();
  $jq(document).ready( function() {
//    $jq('#id_reporter_existing_name').quickselect();
    } );
</script>
{% endblock %}
