{% extends 'base.html' %}
{% block title %}Report listing{% endblock %}

{% block content %}
<h1>Report listing for {{ reporter.name }} / {{ challenge.name }} </h1>

<ul>
<table>
  <tr>
    <th id="reported_date">Reported Date</th>
    <th id="reporter">Reporter</th>
    <th id="up">Flights Up</th>
    <th id="down">Flights Down</th>
  </tr>
  {% for report in object_list %}
  <tr>
    <td id="reported_date">{{report.reported_date}}</td>
    <td id="reporter">{{report.reporter.name}}</td>
    <td id="up">{{report.flights_up}}</td>
    <td id="down">{{report.flights_down}}</td>
  </tr>
  {% endfor %}
</table> 
</ul>

<div>
  {% if has_previous %}
    <a href="{% url challenge.views.list_reports challenge_id=challenge.key.id reporter_id=reporter.key.id %}?page={{ previous }}">&lt;-previous</a>
  {% endif %}
  {% if has_next %}
    <a href="{% url challenge.views.list_reports %}?page={{ next }}">next-&gt;</a>
  {% endif %}
</div>
{% endblock %}
