<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"> 
<html lang="en"> 
<head> 
<title>Activity Report: {{ challenge.name }}</title> 
</head> 
<body>
  <form action="." method="POST">
    <table>
      {{ form.as_table }}
    </table>
    <p><input type="submit" value="Submit"/></p>
  </form>
<h1>Activity Reports: {{ challenge.name }} </h1>
<table>
  <tr>
    <th>Reported Date</th>
    <th>Reporter</th>
    <th>Flights Up</th>
    <th>Flights Down</th>
  </tr>
  {% for report in reports %}
  <tr>
    <td>{{report.reported_date}}</td>
    <td>{{report.reporter.name}}</td>
    <td>{{report.flights_up}}</td>
    <td>{{report.flights_down}}</td>
  </tr>
  {% endfor %}
</table> 
</body> 
</html> 

